
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>Id:</td>
                <td>Name:</td>
                <td>Email:</td>
                <td>MobileNo:</td>
            </tr>

        </table>
    </div>
</body>
</html>
